*{
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 1169px;
    margin-left: 250px;
    margin-top: 50px;
}

#espantalho {
    width: 700px;
    padding-right: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

h3 {
    margin-left: 200px;
    margin-top: 50px;
}

h1{
    font-size: 60px;
    margin-bottom: 60px;
}

p{
    font-size: 25px;
    width: 350px;
    margin-bottom: 40px;
}

button{
    background-color: rgb(43, 42, 42);
    width: 226px;
    height: 51px;
    border: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.criador{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 170px;
    margin-left: 140px;
}

.ignorar{
    font-size: 20px;
    color: rgba(83, 82, 82, 0.377);
}

.Eu{
    font-size: 20px;
    color: rgba(83, 82, 82, 0.377); 
}

@media screen and (max-width: 800px){
    body{
        width: 100%;
        height: 100%;
    }

    h3 {
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .flexivel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #espantalho{
        width: 80%;
        padding: 0;
    }
    h1{
        font-size: 30px;
        margin-bottom: 40px;
        width: 80%;
    }

    .descrição{
        width: 80%;
        font-size: 20px;
    }

    .criador{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .ignorar{
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .Eu{
        margin-left: 5px;
    }
}